/*//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

UNIVERSAL SETTINGS

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

html{
    overflow: hidden;
    background-color: #1a1a1a;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

CHANNELS .PHP

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////*/

#startStream{
	background:rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	cursor:pointer;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#startStream span{
	cursor:pointer;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#loadingScreen{
	opacity:1;
	position:absolute;
	z-index:100;
	top:0;
	background:url('https://res.cloudinary.com/deylrqt2d/image/upload/v1531901035/loading_waavbd.gif') no-repeat center #000;
}

#video{
	background:#000;
	width:100%;
	position:absolute;
	height:100%;
	top:0;
	left:0;
}

#stream_container{
	width:100%;
	height:100%;
	display:block;
}